/* frontend/src/styles/auth.css */
.auth-container {
  max-width: 400px;
  margin: 3rem auto;
  padding: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* transparent the background */
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
}

.auth-container h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #6200ea;
}

.auth-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #6200ea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-form button:hover {
  background: #4b00b5;
}

.auth-form .toggle-link {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #6200ea;
  cursor: pointer;
}
.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
}
